{
  "sourceMaps": "inline",
  "presets": [
    "stage-0",
    "es2015-node6"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "$root": ".",
        "$src": "./src",
        "$app": "./src/app",
        "$db": "./src/db",
        "$modules": "./src/modules"
      }
    }]
  ]
}
